deb http://mirror.telepoint.bg/debian/ {{ ansible_distribution_release }} main main contrib non-free non-free-firmware
deb-src http://mirror.telepoint.bg/debian/ {{ ansible_distribution_release }} main