#include <tunables/global>

profile /usr/bin/mongod flags=(attach_disconnected) {
/usr/bin/mongod Px,

# Config and keys
/etc/mongod.conf r,
/etc/mongodb-keyfile r,

# Timezone and SSL config
/etc/ld.so.cache r,
/etc/localtime r,
/usr/share/zoneinfo/** r,
/etc/ssl/openssl.cnf r,
/usr/lib/ssl/** r,

# Shared libraries
/lib/** mr,
/usr/lib/** mr,

# Data and logs
/var/lib/mongodb/** rwk,
/var/log/mongodb/** rwk,
/var/log/mongodb/ rw,
/var/log/ rw,

# Unix socket
/tmp/mongodb-*.sock rw,

# Devices
/dev/null rw,
/dev/urandom r,
/dev/zero r,
/dev/shm/** rw,

# /proc access
/proc/[0-9]*/task/[0-9]*/comm rw,
/proc/*/status r,
/proc/*/stat r,
/proc/*/cmdline r,
/proc/meminfo r,
/proc/cpuinfo r,
/proc/self/exe r,
/proc/*/mountinfo r,
/proc/*/maps r,
/proc/pressure/memory r,
/proc/pressure/cpu r,
/proc/pressure/io r,
/proc/stat r,
/proc/vmstat r,
/proc/sys/fs/file-nr r,
/proc/*/net/netstat r,
/proc/*/net/snmp r,
/proc/*/net/sockstat r,

# /sys CPU topology needed by tcmalloc
/sys/devices/system/cpu/possible r,
/sys/devices/system/cpu/online r,
/sys/devices/system/node/node0/cpulist r,
/sys/devices/system/cpu/cpu[0-9]*/cache/index[0-9]*/shared_cpu_list r,
/sys/devices/system/cpu/cpu[0-9]*/cache/index[0-9]*/level r,
/sys/devices/system/cpu/cpu[0-9]*/cache/index[0-9]*/type r,
/sys/devices/system/cpu/cpu[0-9]*/cache/index[0-9]*/id r,
/sys/devices/system/cpu/cpu*/cache/index*/shared_cpu_list r,

# Transparent Huge Pages (THP) settings
/sys/kernel/mm/transparent_hugepage/enabled r,
/sys/kernel/mm/transparent_hugepage/defrag r,
/sys/kernel/mm/transparent_hugepage/khugepaged/max_ptes_none r,

# Kernel version info and vm settings
/proc/version r,
/proc/sys/kernel/osrelease r,
/proc/sys/vm/overcommit_memory r,
/proc/sys/net/ipv4/tcp_fastopen r,

# System stats
/proc/diskstats r,
/proc/[0-9]*/mountinfo r,
/proc/[0-9]*/maps r,
/proc/pressure/** r,
/proc/stat r,
/proc/cpuinfo r,
/proc/vmstatus r,

# Required for MongoDB DB path probing at startup
/var/lib/mongodb/ r,

# Inter-process communication
signal (send, receive) peer=/usr/bin/mongod,
unix (send, receive),

# Networking
network inet stream,
network inet6 stream,

# Capabilities
capability setuid,
capability setgid,
capability sys_resource,

# Explicit denials
deny /etc/shadow r,
deny /root/** rw,
}
