# ansible/roles/graylog/templates/mongod.conf.j2
systemLog:
  destination: file
  path: "{{ mongodb_log_path | default('/var/log/mongodb/mongod.log') }}"
  logAppend: true

storage:
  dbPath: "{{ mongodb_db_path | default('/var/lib/mongodb') }}"

net:
  bindIp: "{{ mongodb_bind_ip | default('127.0.0.1') }}"
  port: {{ mongodb_port | default(27017) }}

# Security configuration
security:
{% if mongodb_admin_check is defined and mongodb_admin_check.stdout != "null" %}
  authorization: "enabled"
  keyFile: "{{ mongodb_keyfile }}"
{% else %}
authorization: "disabled"
{% endif %}
{% if replSetName != '' %}
replication:
    replSetName: "{{ replSetName }}"
{% endif %}
