#include <tunables/global>

profile /usr/bin/mongod {
# Allow execution
/usr/bin/mongod px,

# Allow mmap (m) for dynamic libs including libcurl
/usr/lib/** rm,
/lib/** rm,
/usr/lib/x86_64-linux-gnu/libcurl.so.* rm,

# Config and data
/etc/mongod.conf r,
/var/lib/mongodb/** rwk,
/var/log/mongodb/** rwk,
/etc/mongodb-keyfile r,

# System info
/proc/** r,
/sys/** r,
/dev/** r,

# Networking
network inet stream,
network inet6 stream,

# Capabilities (optional but good to have)
capability setuid,
capability setgid,
capability sys_resource,

# Deny sensitive stuff explicitly
deny @{PROC}/* w,
deny /etc/shadow r,
}
