# ansible/roles/graylog/templates/opensearch.yml.j2
cluster.name: {{ opensearch_cluster_name | default("opensearch-cluster") }}
node.name: {{ opensearch_node_name | default("node-1") }}
network.host: {{ opensearch_host | default("0.0.0.0") }}
http.port: {{ opensearch_http_port | default(9200) }}
path.data: {{ opensearch_data_path | default("/var/lib/opensearch") }}
path.logs: {{ opensearch_logs_path | default("/var/log/opensearch") }}
discovery.seed_hosts: {{ opensearch_seed_hosts | default("['127.0.0.1']") }}
cluster.initial_master_nodes: {{ opensearch_initial_master_nodes | default("['node-1']") }}

# Optional security settings for OpenSearch
opensearch_security:
  admin_username: {{ opensearch_admin_username }}
  admin_password: {{ opensearch_admin_password }}