# Graylog Server Configuration
http_bind_address = {{ graylog_http_bind_address }}
http_publish_uri = {{ graylog_http_bind_uri }}

web_listen_uri = {{ graylog_web_listen_uri }}
rest_listen_uri = {{ graylog_web_listen_uri }}/api/

# Security
password_secret = {{ graylog_password_secret }}
root_password = {{ graylog_root_password }}
root_password_sha2 = {{ graylog_root_password_sha2 }}
root_username = admin
root_email = "info@graylock.eu"
root_timezone = UTC

# TLS
http_enable_tls = true
http_tls_cert_file = /etc/graylog/server/graylog-cert.pem
http_tls_key_file = /etc/graylog/server/graylog-key.pem
{% if http_tls_key_password %}
http_tls_key_password = {{ http_tls_key_password }}
{% endif %}
http_enable_gzip = true
http_max_header_size = 8192
http_thread_pool_size = 128
enabled_tls_protocols = TLSv1.2,TLSv1.3

# External URI
{% if graylog_is_master_node %}
http_external_uri = {{ graylog_http_external_uri }}/
{% endif %}

# MongoDB
mongodb_uri = {{ graylog_mongodb_uri }}
mongodb_max_connections = 1000

# OpenSearch
disable_indexer_autodiscovery = {{ (not graylog_es_auto_discovery) | lower }}
opensearch_hosts = https://localhost:{{ opensearch_http_port }}
opensearch_user = {{ opensearch_admin_username }}
opensearch_password = {{ opensearch_admin_password }}
opensearch_tls_verify = false

elasticsearch_hosts = https://localhost:{{ opensearch_http_port }}
elasticsearch_discovery_enabled = {{ graylog_es_auto_discovery | lower }}
elasticsearch_version_probe_type = opensearch
elasticsearch_discovery_default_user = {{ opensearch_admin_username }}
elasticsearch_discovery_default_password = {{ opensearch_admin_password }}
elasticsearch_compression_enabled = true
elasticsearch_tls_verify = false

# Inputs
inputs = syslog-tcp://127.0.0.1:514
auto_restart_inputs = true

# Outputs (clustered setup)
{% if not graylog_is_master_node %}
outputs = graylog://{{ graylog_master_node_server }}
{% endif %}

# Index rotation and retention
rotation_strategy = time-size-optimizing
enabled_index_rotation_strategies = count,size,time,time-size-optimizing
elasticsearch_max_docs_per_index = 20000000
elasticsearch_max_size_per_index = 32212254720
elasticsearch_max_time_per_index = 1w
max_index_retention_period = P90d
elasticsearch_max_write_index_age = 1d
retention_strategy = delete
elasticsearch_max_number_of_indices = 20
elasticsearch_shards = 1
elasticsearch_replicas = 2
elasticsearch_analyzer = standard
elasticsearch_index_prefix = graylog
elasticsearch_template_name = graylog-internal
default_events_index_prefix = gl-events
default_system_events_index_prefix = gl-system-events

# Graylog cluster
is_leader = {{ graylog_is_master_node }}
node_id_file = /etc/graylog/server/node-id
bin_dir = /usr/share/graylog-server/bin
data_dir = /var/lib/graylog-server/
plugin_dir = /usr/share/graylog-server/plugin
log4j_config_file = /etc/graylog/server/log4j2.xml

# Buffers
ring_size = 65536
inputbuffer_ring_size = 65536
inputbuffer_wait_strategy = blocking
processbuffer_processors = 5
outputbuffer_processors = 3
outputbuffer_processor_threads_core_pool_size = 3
processor_wait_strategy = blocking
udp_recvbuffer_sizes = 1048576

# Journal
message_journal_enabled = true
message_journal_dir = data/journal
message_journal_max_age = 12h
message_journal_max_size = 5gb
message_journal_flush_age = 1m
message_journal_flush_interval = 1000000
message_journal_segment_age = 1h
message_journal_segment_size = 100mb

# Stream processing
stream_aware_field_types = false
stream_processing_timeout = 2000
stream_processing_max_faults = 3

# Output and LB
output_batch_size = 500
output_flush_interval = 5
output_fault_count_threshold = 5
output_fault_penalty_seconds = 30
async_eventbus_processors = 2
lb_recognition_period_seconds = 3
lb_throttle_threshold_percentage = 95
output_module_timeout = 10000
stale_leader_timeout = 2000
shutdown_timeout = 30000

# HTTP client
http_user_agent = Graylog
http_connect_timeout = 5s
http_read_timeout = 10s
http_write_timeout = 10s

# Optional
{% if graylog_trusted_proxies %}
trusted_proxies = {{ graylog_trusted_proxies }}
{% endif %}

# Email
{% if graylog_transport_email_enabled %}
transport_email_enabled = true
transport_email_hostname = {{ smtp_server }}
transport_email_port = {{ smtp_port }}
transport_email_use_auth = {{ smtp_use_auth }}
transport_email_auth_username = {{ smtp_username }}
transport_email_auth_password = {{ smtp_password }}
transport_email_from_email = {{ smtp_from }}
transport_email_socket_connection_timeout = 10s
transport_email_socket_timeout = 10s
transport_email_use_tls = {{ smtp_use_tls }}
{% endif %}

# Prometheus Exporter
{% if graylog_prometheus_exporter_enabled %}
prometheus_exporter_enabled = {{ graylog_prometheus_exporter_enabled }}
prometheus_exporter_bind_address = {{ graylog_prometheus_exporter_bind_address }}
prometheus_exporter_mapping_file_refresh_interval = 60s
{% endif %}
