services:
  {{ containers_docker_deployments.name }}:
    image: {{ containers_docker_deployments.image }}
    container_name: {{ containers_docker_deployments.name }}
    cap_add: {{ containers_docker_deployments.environment | dict2items | map(attribute='key') | list }}
    {% if containers_docker_deployments.user is defined %}
    user: {{ containers_docker_deployments.user }}
    {% endif %}
    {% if containers_docker_deployments.group is defined %}
    group: {{ containers_docker_deployments.group }}
    {% endif %}
    environment: {{ containers_docker_deployments.environment | dict2items | map(attribute='key') | list }}
    volumes: {{ containers_docker_deployments.volumes | dict2items | map(attribute='key') | list }}
    security_opt:
      - no-new-privileges:true
    ports:
      - "19999:19999/tcp"
    deploy:    
      resources:
          limits:
            cpus: 10.0
            memory: 48G
    stop_grace_period: 5s
    restart: unless-stopped
    devices:
      - /dev/nvidia0:/dev/nvidia0:ro
      - /dev/nvidiactl:/dev/nvidiactl:ro
      - /dev/nvidia-modeset:/dev/nvidia-modeset:ro
      - /dev/nvidia-uvm:/dev/nvidia-uvm:ro
      - /dev/nvidia-uvm-tools:/dev/nvidia-uvm-tools:ro
      - /dev/kmsg:/dev/kmsg
    runtime: nvidia  # Use the NVIDIA runtime for GPU support
    healthcheck:
      test: ["CMD-SHELL", "curl --connect-timeout 15 --silent --show-error --fail http://localhost:19999/api/v1/info || exit 1"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    labels:
      - swag=enable
      - swag_port=19999
      - swag_url=sysmon.graylock.eu
      - crowdsec.enable=true
      - crowdsec.labels.type=netdata
