cluster.name: {{ elasticsearch_cluster_name  }}
node.name: '{{ ansible_hostname }}'
network.host: {{ elasticsearch_host }}
http.port: {{ elasticsearch_port }}

xpack.security.enabled: {{ elasticsearch_security_enabled }}
xpack.security.transport.ssl.enabled: {{ elasticsearch_security_ssl_enabled }}
<% if elasticsearch_security_ssl_enabled %>
xpack.security.transport.ssl.key: '{{ certs_path }}/elasticsearch.key'
xpack.security.transport.ssl.certificate: '{{ certs_path }}/elasticsearch.crt'
xpack.security.transport.ssl.certificate_authorities: [ '{{ certs_path }}/ca.crt' ]
<% endif %>
xpack.security.http.ssl.enabled: {{ elasticsearch_http_ssl_enabled }}
<% if elasticsearch_http_ssl_enabled %>
xpack.security.http.ssl.key: '{{ certs_path }}/elasticsearch.key'
xpack.security.http.ssl.certificate: '{{ certs_path }}/elasticsearch.crt'
xpack.security.http.ssl.certificate_authorities: [ '{{ certs_path }}/ca.crt' ]
<% endif %>