common:
  daemonize: true
  log_level: info
  log_media: stdout
  log_dir: /var/log/crowdsec/
  working_dir: /var/lib/crowdsec/
  log_max_size: 20
  compress_logs: true
  log_max_files: 10

crowdsec_service:
  acquisition_path: /etc/crowdsec/acquis.yaml
  acquisition_dir: /etc/crowdsec/acquis.d
  parser_routines: 1
  buckets_routines: 1
  output_routines: 1

cscli:
  output: human
  color: auto

config_paths:
  config_dir: /etc/crowdsec/
  data_dir: /var/lib/crowdsec/data/
  simulation_path: /etc/crowdsec/simulation.yaml
  hub_dir: /etc/crowdsec/hub/
  index_path: /etc/crowdsec/hub/.index.json
  notification_dir: /etc/crowdsec/notifications/
  plugin_dir: /usr/local/lib/crowdsec/plugins/

db_config:
  log_level: info
  type: sqlite
  db_path: /var/lib/crowdsec/data/crowdsec.db
  max_open_conns: 100
  flush:
    max_items: 5000
    max_age: 7d

api:
  client:
    insecure_skip_verify: false
    credentials_path: /etc/crowdsec/local_api_credentials.yaml
    ca_cert_path:
    cert_path:
    key_path:
  server:
    listen_uri: 127.0.0.1:8080
    log_level: info
    profiles_path: /etc/crowdsec/profiles.yaml
    console_path: /etc/crowdsec/console.yaml
    online_client: # Central API credentials (to push signals and receive bad IPs)
      credentials_path: /etc/crowdsec/online_api_credentials.yaml
      trusted_ips: "{{ server_trusted_ips }}"
    tls:
      cert_file:
      key_file:

prometheus:
  enabled: true
  listen_addr: 127.0.0.1
  listen_port: 6060
